.img-back{
    background-image: url("/public/images/backgrounds/blog.png");
    text-align: left !important;
    
   
   
} 

.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #080808;
  border-style: solid;
  color: #000000;
}

.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #080808;
  border-style: solid;
  padding: 3px;
}

.GeneratedTable thead {
  background-color: #00ffee;
}






